<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fujdevelopers.gymbro">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Gym Bro"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".menu" android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".CurLifts" android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".EdtCurLifts" android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".GoalLifts" android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".MyStats" android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"></activity>
    </application>

</manifest>